<h1>Create a new HackDay Project!</h1>

<%= form_for(@project) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.hidden_field :hackday_id, value: params[:hackday_id] %>

  <%= f.submit "Create this Project" %>
<% end %>
